body{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Oswald', Helvetica, sans-serif; */
    background-color: #FFFFFF;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
}
.bg-video{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    /* z-index: 5; */
}
.inner-video{
    width: 100%;
    height: 100%;
}
.m-0{
    margin: 0px;
}
.p-0{
    padding: 0px;
}
.mt-0{
    margin-top: 0px;
}
.mt-5{
    margin-top: 5px;
}
.mb-0{
    margin-bottom: 0px;
}
.fs-12{
    font-size: 12px;
}
.decoration-none{
    text-decoration: none;
}
.w-10{
    width: 10% !important;
}
.w-20{
    width: 20% !important;
}
.w-30{
    width: 30% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width: 50% !important;
}
.w-60{
    width: 60% !important;
}
.w-70{
    width: 70% !important;
}
.w-80{
    width: 80% !important;
}
.w-90{
    width: 90% !important;
}
.w-100{
    width: 100% !important;
}
.p-10{
    padding: 10px;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
/* page */
#page{
    position: relative;
}
#page-content{

}
/* header content start*/
#header-content{
    width: 25%;
    height: 100%;
    border-right: 5px solid #E0E9ED;
    background-color: #34C7A9;
    position: fixed;
}
.header{}
.header-text{
    text-align: center;
    padding: 25px;
    color: #fff;
}
.header-text h1{
    font-size: 40px;
}
.header-text p{
    font-size: 18px;
}
.header-img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.img{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
}
.header-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    /* border: 1px solid red; */
}
/* main content */
#main-content{
    width: 75%;
    height: 100px;
    /* border: 1px solid red; */
    position: absolute;
    top: auto;
    right: 0px;
    z-index: 999;
}
.inner-main-content{}
#nb_container, #st_container, #general_info, #services, #clients, #fun_facts, #blog_posts, .resume-container, #my_cv, #contact, .portfolio-container {
    display: flex;
    padding: 20px 70px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    /* border-left: 5px solid #6b7272; */
    /* border: 1px solid red; */
    height: 100%;
}
/* navbar */
.nb ul li{
    margin-right: 30px;
}
.nb ul li hr{
    margin: auto;
    border: none;
    background-color: #35C7AA;
    width: 25px;
    height: 2px;
    border-radius: 20px;
}
.nb ul li a{
    text-decoration: none;
    color: #222;
    font-weight: 700;
    /* font-family: 'Oswald', Helvetica, sans-serif; */
}
.nb ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;    
}
/* social icon */
.social_icon ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.social_icon ul a {
    background-color: #e6e6e6d2;
    color: #888;
    text-decoration: none;
    margin-right: 10px;
}
.social_icon ul a:hover i{
    color: white;
    transition: all 0.7s ease;
}
.social_icon ul a:hover {
    background-color: #35C7AA;
    transition: all 0.7s ease;
}
.social_icon ul a i{
    margin: 10px;
}
/* section title start */
.st-content{
    display: flex;
    align-items: center;
    margin: 0 0 0 -65px;
    position: relative;
    left: 0px;
}
.st-content::after{
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    content: "";
    background-color: #34C7A9;
    transform: skew(0deg,65deg);
}
.st-content h2{
    padding: 10px 20px 10px 65px;
    background-color: #34C7A9;
    margin: 0px;
    font-weight: 200;
    color: #fff;
}
.st-content span{
    padding-left: 40px;
    margin: 0px;
    font-size: 14px;
}
/* general-info start */
#general_info{
    /* border: 2px solid red; */
}
.testimonials{
    /* border: 2px solid red; */
    height: auto;
    margin-bottom: 30px;
}
.info-section{
    /* border: 2px solid red; */
    width: 50%;
    height: auto;
    text-align: justify;
    margin-bottom: 30px;
}
.info-section h3, .testimonials h3, .services-header h3, .clients-header h3, .fun-facts-header h3 {
    font-size: 19px;
    line-height: 28px;
    color: #222222;
    font-weight: 700;
    /* font-family: 'Oswald', Helvetica, sans-serif; */
    margin: 0px;
    /* border: 2px solid red; */
}
.testimonials h3, .services-header h3, .clients-header h3, .fun-facts-header h3, .inner-resume h3, .get-in-touch h3, .form h3{
    display: inline-block;
    border-bottom: 2px solid #34C7A9;
}
.info-section p, .testimonials p{
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    font-family: "PT Sans", Helvetica, sans-serif;
}
.info-section p{
    margin-bottom: 30px;
}
/* slider testimonials start */
.testimonials p{
    padding: 25px 30px;
    border-radius: 6px;
    background-color: #EFEFF0;
    border: 2px solid #e5e5e5;
    margin-left: 60px;
}
.t-slider-photo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.t-slider-photo{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    top: -30px;
    /* bottom: 0px; */
}
.t-slider{
    position: relative;
}
.testimonials{
    width: 50%;
    margin-left: 25px;
}
.t-slider span{
    /* display: block; */
}
.button-slider{
    padding-top: 55px;
}
.button-slider button {
    border: none;
    padding: 5px 10px;
    color: #888;
}
.button-slider button:hover{
    cursor: pointer;
    background-color: #35C7AA;
    border: none;
    transition: all 0.7s ease;
}
.button-slider button:hover i{
    color: white;
}
.slider-author span{
    display: block;
}
.slider-author div{
    padding-top: 40px;
}
.slider-author{
    display: flex;
}
/* services section start */
#services{
    /* margin-bottom: 30px; */
    /* width: 100%; */
}
.services-container, .clients-container, .fun-facts-container, .blog-post-container{
    width: 100%;
}
.inner-services{
    padding: 10px;
    text-align: center;
    width: 360px;
    height: 260px;
}
.inner-services p{
    font-size: 14px;
    line-height: 24px;
}
.inner-services h4{
    font-size: 16px;
    line-height: 24px;
}
.inner-services img{
    width: 74px;
    height: 74px;
    margin-bottom: 18px;
    /* object-fit: cover; */
}
/* clients section */
#clients{
    margin-bottom: 30px;
}
.inner-clients{
    /* width: 100%; */
    padding: 20px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}
.inner-clients img{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* border: 1px solid green; */
    opacity: 0.7;
}
.inner-clients img:hover{
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease;
}
.services{

}
.icon-funfact{
    color: #888;
    font-size: 50px;
}
/* fun-facts section */
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.inner-fun-facts{
    padding: 20px;
    /* border: 1px solid green; */
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #FAFAFA;
    box-shadow: 0px 0px 7px 0px #888888;
}
.inner-fun-facts-2{
    padding: 20px;
    /* border: 1px solid green; */
    margin: 5px;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px #f5f2f2;
}
.inner-fun-facts h3{
    margin: 0;
    margin-top: 10px;
}
.inner-fun-facts-2 h3{
    margin: 0;
    margin-top: 10px;
}
.inner-fun-facts p{
    margin: 0;
    margin-top: 10px;
}
.inner-fun-facts-2 p{
    margin: 0;
    margin-top: 10px;
}
.inner-fun-facts:hover{
    
}
.inner-fun-facts-2:hover{
    
}
.fun-fact-icon{
    font-size: 50px;
    color: #D1D2D3;
}
.inner-fun-facts p{
    font-size: 25px;
    font-weight: 200;
    color: #35C7AA;
}
.inner-fun-facts-2 p{
    font-size: 25px;
    font-weight: 200;
    color: #35C7AA;
}
/* blog-post styles start*/
.blog-post-container{
    
}
.blog-post-img{
    position: relative;
}
.blog-post-img:hover .blog-post-img-overlay{
    /* display: block; */
} 
.blog-post-img-overlay{
    /* display: none; */
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgba(212, 203, 203, 0.7);
} 
.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid yellow; */
}
.blog-post-header{
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 0px;
    left: 0px;
    /* border: 1px solid blue; */
}
.blog-post-header a h3{
    color: black;
}
.blog-post-date{
    background-color: #34C7A9;
    /* height: 50px; */
    /* width: 50px; */
    /* border: 2px solid red; */
    padding: 5px 15px;
    position: absolute;
    top: -45px;
    right: 45px;
    /* border-radius: 5px; */
}
.blog-post-date span{
    display: block;
    color: white;
    /* border: 2px solid green; */
}
.blog-post-shadow{
    box-shadow: 0px 0px 5px grey;
    position: relative;
    /* border-radius: 5px; */
}
.blog-post-shadow:hover{
    box-shadow: 0px 0px 30px grey;
    cursor: pointer;
    transition: all 0.8s ease;
    /* border-radius: 5px; */
}
/* resume styles */
#resume{}

.inner-resume {
    border-left: 1px solid #f4f9ed;
    position: relative;
}
.border-none{
    border: none !important;
}
.inner-resume-text{
    padding: 0px 10px;
}
.inner-resume-text .description{
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
}
.color-9ca097{
    color: #9ca097;
}
.inner-resume-text .resume-date{
    background-color: #A1D659;
    padding: 5px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    left: -5px;
    color: white;
}
.inner-resume-text .resume-date::after{
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    content: "";
    background-color: #A1D659;
    transform: skew(0deg,60deg);
    /* border: 1px solid #A1D659; */
}
#my_cv button{
    padding: 10px 25px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #35C7AA;
}
#my_cv button:hover{
    color: white;
    background-color: #35C7AA;
    transition: all .7s ease;
    /* border-radius: 25px; */
    /* border: 10px solid red; */
    /* font-weight: 900; */
    /* box-shadow: 0px 0px 0px 10px; */ 
}
.progress-bar{
    height: 10px;
    border: 2px solid #35C7AA;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.inner-progress-bar{
    border: 2px solid white;
    height: 6px;
    border-radius: 20px;
    background-color: #35C7AA;
}
/* skills-bar animation */
.skill-1{
    width: 94%;
    animation: skill-1 3s 1 ease;
}
@keyframes skill-1{
    0%{
        width: 0%;
    }
    94%{
        width: 94%;
    }
}
.skill-2{
    width: 88%;
    animation: skill-2 3s 1 ease;
}
@keyframes skill-2{
    0%{
        width: 0%;
    }
    88%{
        width: 88%;
    }
}
.skill-3{
    width: 72%;
    animation: skill-3 3s 1 ease;
}
@keyframes skill-3{
    0%{
        width: 0%;
    }
    72%{
        width: 72%;
    }
}
.skill-4{
    width: 92%;
    animation: skill-4 3s 1 ease;
}
@keyframes skill-4{
    0%{
        width: 0%;
    }
    92%{
        width: 92%;
    }
}
.skill-5{
    width: 88%;
    animation: skill-5 3s 1 ease;
}
@keyframes skill-5{
    0%{
        width: 0%;
    }
    88%{
        width: 88%;
    }
}
.skill-6{
    width: 65%;
    animation: skill-6 3s 1 ease;
}
@keyframes skill-6{
    0%{
        width: 0%;
    }
    65%{
        width: 65%;
    }
}
.skill-7{
    width: 48%;
    animation: skill-7 3s 1 ease;
}
@keyframes skill-7{
    0%{
        width: 0%;
    }
    48%{
        width: 48%;
    }
}
.skill-8{
    width: 55%;
    animation: skill-8 3s 1 ease;
}
@keyframes skill-8{
    0%{
        width: 0%;
    }
    55%{
        width: 55%;
    }
}
/* contact styles */
#contact{}
.contact-header{

}
.get-in-touch{
    padding: 20px;
}
.get-in-touch p{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
.form{
    padding: 20px;
}
.contact-icons{
    font-size: 24px;
    color: #666666;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
}
.contact-icons-descp{
    font-size: 16px;
    color: #222222;
    line-height: 20px;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}
/* portfolio styles */
#portfolio{}
.color-white{
    color: white !important;
}
.bg-35C7AA{
    background-color: #35C7AA;
}
.portfolio-title{
    padding: 5px 10px;
}
.portfolio-title a{
    text-decoration: none;
    color: black;
}
.portfolio-container{

}
.portfolio-img{
    width: 100%;
    object-fit: cover;
}
.portfolio-item{
    position: relative;
}
.portfolio-item:hover .portfolio-img-overlay{
    /* transition: all 0.7s ease; */
    display: block;
    cursor: pointer;
}
.portfolio-img-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    /* transition: all 0.7s ease; */
    /* padding: 5px 10px; */
}
.overlay-title{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #35C7AA;
}
.overlay-subtitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 16px;
}
.overlay-icon{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 16px;
}
/* form styles */
.form-group{
    padding: 5px 10px;
    border: 1px solid #888;
    margin-bottom: 20px;
    border-radius: 2px;
}
.form-group:hover{
    /* border-bottom: 4px solid #35C7AA; */
    transition: all 2s ease;
    animation: input-anim 2s 3 ease;
    /* animation: skill-2 3s 1 ease; */
}
@keyframes input-anim{
    0%{
        border-bottom: none;
    }
    25%{
        border-bottom: 4px solid red;
    }
    50%{
        border-bottom: 4px solid green;
    }
    75%{
        border-bottom: 4px solid blue;
    }
}
#fullName{
    width: 100%;
    border: none;
    outline: none;
}
#e-mail{
    width: 100%;
    border: none;
    outline: none;
}
#textarea{
    width: 100%;
    height: auto;
    border: none;
    outline: none;
}
#submit{
    padding: 10px 40px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #35C7AA;
}
#submit:hover{
    background-color: #35C7AA;
    color: white;
    transition: all 0.7s ease;
    animation: button-anim .3s 10 ease;
}
@keyframes button-anim{
    0%{
        background-color: red;
        transition: all .3s ease;
    }
    25%{
        background-color: green;
        transition: all .3s ease;
    }
    50%{
        background-color: blue;
        transition: all .3s ease;
    }
    75%{
        background-color: yellow;
        transition: all .3s ease;
    }
    100%{
        background-color: #35C7AA;
        transition: all .3s ease;
    }
}
