body{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', Helvetica, sans-serif;
    background-color: #FFFFFF;
}
/* page */
#page{
    position: relative;
}
#page-content{

}
/* header content start*/
#header-content{
    width: 25%;
    height: 100%;
    border-right: 5px solid #747e81;
    background-color: #BCD2DB;
    position: fixed;
}
.header{}
.header-text{
    text-align: center;
    padding: 25px;
    color: #fff;
}
.header-text h1{
    font-size: 40px;
}
.header-text p{
    font-size: 18px;
}
.header-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
/* main content */
#main-content{
    width: 75%;
    height: 100px;
    /* border: 1px solid red; */
    position: absolute;
    top: auto;
    right: 0px;
    z-index: 999;
}
.inner-main-content{}
#nb_container, #st_container, #general_info {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    /* border-left: 5px solid #6b7272; */
    height: 100%;
}
/* navbar */
.nb ul li{
    margin-right: 30px;
}
.nb ul li hr{
    margin: auto;
    border: none;
    background-color: #35C7AA;
    width: 25px;
    height: 4px;
    border-radius: 20px;
}
.nb ul li a{
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
}
.nb ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;    
}
/* social icon */
.social_icon ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.social_icon ul a {
    background-color: #e6e6e6d2;
    color: #888;
    text-decoration: none;
    margin-right: 10px;
}
.social_icon ul a:hover {
    background-color: #35C7AA;
}
.social_icon ul a i{
    margin: 10px;
}
/* section title start */
.st-content{
    display: flex;
    align-items: center;
    margin: 0 0 0 -65px;
    position: relative;
    left: 0px;
}
.st-content::after{
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    content: "";
    background-color: #34C7A9;
    transform: skew(0deg,65deg);
}
.st-content h2{
    padding: 10px 20px 10px 65px;
    background-color: #34C7A9;
    margin: 0px;
    font-weight: 200;
    color: #fff;
}
.st-content span{
    padding-left: 40px;
    margin: 0px;
    font-size: 14px;
}
/* general-info start */
#general_info{
    border: 2px solid red;
}
.testimonials{
    border: 2px solid red;
    height: 100%;
}
.info-section{
    border: 2px solid red;
}
.info-section{
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-bottom: 30px;
}
.info-section h3, .testimonials h3 {
    font-size: 19px;
    line-height: 28px;
    color: #222222;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
}
.testimonials h3{
    display: inline-block;
    border-bottom: 2px solid #34C7A9;
}
.info-section p, .testimonials p{
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    font-family: "PT Sans", Helvetica, sans-serif;
}
/* slider testimonials start */
.testimonials p{
    padding: 25px 30px;
    border-radius: 6px;
    background-color: #EFEFF0;
    border: 2px solid #e5e5e5;
    margin-left: 80px;
}
.t-slider-photo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonials{
    width: 50%;
    margin-left: 25px;
}
.t-slider{
    
}
.t-slider-photo span{
    display: block;
}













































/*
<!-- page start -->
      <section id="page">
        
    </section>
    <!-- page end -->
*/