body{
    margin: 0px;
    padding: 0px;
}
/* page */
#page{
    display: flex;
}
/* header content */
#header_content{
    background-color: red;
    border: 1px solid black;
    width: 25%;
}
/* main content */
#main_content{
    width: 75%;
}
#main_container{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
/* navbar */
.nb ul li{
    margin: 10px 20px;
}
.nb ul li a{
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-family: 'Oswald', Helvetica, sans-serif;
}
.nb ul {
    display: flex;
    list-style: none;
    
}
/* social icon */
.social_icon ul {
    display: flex;
}
.social_icon ul a {
    background-color: #e6e6e6d2;
    color: #888;
    text-decoration: none;
    margin-right: 10px;
}
.social_icon ul a:hover {
    background-color: #35C7AA;
}
.social_icon ul a i{
    margin: 10px;
}